@import "tailwindcss";

@layer base {
  body {
    background-color: #F4F9FC;
    color: #102A43;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}